<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/notification.js"></script>
    <link href="/css/btn-custom.css" rel="stylesheet">
    <title>BurgerDrop | 장바구니</title>
</head>
<body>
<!-- 네비게이션 바 start -->
<nav class="navbar mb-5" style="background-color: #ff921d">
    <div class="container-fluid d-flex mx-3">
        <a class="navbar-brand" href="/">
            <div class="ms-5 fs-4 fw-bold">BurgerDrop</div>
        </a>
        <div class="" id="welcome">
            <span class="fw-bold" id="username" th:text="${username}"></span> 님의 장바구니
        </div>
        <div class="d-flex justify-content-end">
            <a href="/mypage"><button type="submit" class="btn btn-dark btn_custom ms-2" id="myPage-btn">My page</button></a>
        </div>
    </div>
</nav>
<div class="container my-3">
    <input type="radio" name="method" value="package">
    <label class="fw-bold">포장</label>
    <input type="radio" name="method" value="delivery">
    <label class="fw-bold">배달(+2000)</label>
</div>
<!-- 장바구니에 담은 상품 목록 start -->
<div class="container mb-5">
    <h5>장바구니에 담은 상품 목록</h5>
    <div class="col row" id="cartItem-list">
        <!-- cartItem 동적 데이터 삽입 -->
    </div>
</div>
<div class="container my-3">
    <hr class="border border-3">
    <h5>총 가격</h5>
    <div id="totalPrice">
<!--        totalPrice 표시-->
    </div>
    <div class="d-flex justify-content-end">
        <div>
            <input id="request" class="form-control" type="text" placeholder="요구사항을 입력해 주세요">
            <input id="payment" class="form-control mt-3 d-none" type="text" placeholder="총 금액을 확인해 주세요">
            <button type="button" id=payment-btn class="float-end btn btn-warning fw-bold mt-2 mb-5" style="margin-left: 3px" onclick="makeOrder()"></button>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        getCartItem();


        let switch_ = false;
        $("input[name='method']").change(function () {

            var totalPriceText = $('#totalPrice').text();

            // 선택된 라디오 버튼의 값을 가져옴
            var selectedMethod = $("input[name='method']:checked").val();

            console.log(totalPriceText);
            var totalPriceInt = parseInt(totalPriceText, 10);
            let deliveryPrice = totalPriceInt+2000;
            let totalPriceIntPackage = totalPriceInt-2000;

            // 선택된 값에 따라 totalPrice 업데이트
            if (selectedMethod === "package") {
                // 'package' 선택 시 가격 업데이트
                if(!switch_){
                    switch_ = true;
                    $("#totalPrice").text(totalPriceInt+"원");
                    $("#payment").val(totalPriceInt);
                    $("#payment-btn").text(totalPriceInt+"원 주문하기");

                }else{
                    $("#totalPrice").text(totalPriceIntPackage+"원");
                    $("#payment").val(totalPriceIntPackage);
                    $("#payment-btn").text(totalPriceIntPackage+"원 주문하기");
                }

            } else if (selectedMethod === "delivery") {
                switch_ = true;
                // 'standard' 선택 시 가격 업데이트
                $("#totalPrice").text(deliveryPrice+"원");
                $("#payment").val(deliveryPrice);
                $("#payment-btn").text(deliveryPrice+"원 주문하기");
            }
        });
    });



    function getCartItem() {
        fetch('/api/cart', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(data => {
                $('#cartItem-list').empty()
                let totalPrice = data.totalPrice;
                let deliveryMethod = data.deliveryMethod;

                for (let i = 0; i < data.cartItemList.length; i++) {
                    let productName = data.cartItemList[i].productName;
                    let productPrice = data.cartItemList[i].productPrice;

                    let productImage;
                    if(data.cartItemList[i].productImage === '' || data.cartItemList[i].productImage == null) {
                        productImage = "/images/img.png"
                    } else {
                        productImage = data.cartItemList[i].productImage;
                    }

                    let productId = data.cartItemList[i].productId;
                    let cartItemId = data.cartItemList[i].id;
                    let productQuantity = data.cartItemList[i].quantity;
                    var strArray = [];

                    for (let j = 0; j < data.cartItemList[i].optionList.length; j++) {
                        strArray.push(data.cartItemList[i].optionList[j].optionName);
                        productPrice = productPrice + data.cartItemList[i].optionList[j].optionPrice;
                    }

                    let temp_html = `
                                         <div class= "col-3" style="margin-top: 30px">
                                            <div class="card h-100 feed border-0">
                                                <img src="${productImage}" class="card-img-top" alt="sampleImage" style="height: 250px;">
                                                <div class="card-body">
                                                <a href = product/${productId} class="">
                                                    <h5 class="card-title fw-bold">${productName}</h5>
                                                    <p class="card-text text-truncate">가격 : ${productPrice}</p>
                                                     <p class="card-text text-mute">수량 : ${productQuantity}</p>
                                                     <p class="card-text text-mute">선택한 옵션 : ${strArray}</p>
                                                     </a>
                                                     <button class="fw-bold text-end" style="border:0;outline: 0;background-color: inherit "  onclick="cancelCartItem(${cartItemId})">X</button>
                                                </div>
                                            </div>
                                        </div>
                                     `
                    $('#cartItem-list').append(temp_html)
                }

                $('#payment').val(totalPrice)
                $('#payment-btn').text(totalPrice+"원 주문하기")
                $('#totalPrice').append(totalPrice+"원")
            })
    }

    function makeOrder() {
        let method = document.getElementsByName("method");
        let temp_method;
        method.forEach((radio) => {
            if (radio.checked) {
                temp_method = radio.defaultValue;
            }
        })

        if (temp_method === "delivery") {
            temp_method = true;
        } else {
            temp_method = false;
        }

        let data = {
            delivery: temp_method,
            request: document.getElementById("request").value,
            payment: document.getElementById("payment").value
        }

        $.ajax({
            type: "POST",
            url: '/api/order',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(response) {
                Swal.fire({
                    icon: 'success',                         // Alert 타입
                    title: '주문 완료!'        // Alert 제목
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = '/';
                    }
                });
                completeOrder();
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',                         // Alert 타입
                    title: '장바구니에 상품이 없거나 잘못된 주소입니다.'// Alert 제목
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.reload();
                    }
                });
            }
        });
    }

    function cancelCartItem(cartItemId) {
        $.ajax({
            type: "DELETE",
            url:'/api/cart/'+cartItemId,
            dataType:"json"
        }).done(function(res){
            alert("장바구니에서 상품을 취소했습니다.")
            window.location.href="/cart"
        }).fail(function (request, status, error){
            console.log(status)
            console.log(error)
            alert("에러가 발생했습니다.");
        });
    }
    function logout() {
        //리프레시 토큰 삭제 요청

        fetch('/api/user/logout', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'}
        }).then(response => response.json())
            .then(data => {
                alert(data.msg)
                // 쿠키 삭제
                document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = "/"
            });


    }
</script>
</body>
</html>