<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div id="chatRoom" class="chatRoom">
    <!-- Chat room list will be dynamically generated here -->
</div>

<!-- 버튼을 추가하고 클릭 이벤트 핸들러를 연결 -->
<button id="createChatRoomButton">Create and Enter Chat Room</button>

<script>
    let token = Cookies.get('Authorization');
    const payloads = JSON.parse(atob(token.split(".")[1]));
    const username = payloads.sub;

    $('#createChatRoomButton').click(function () {
        $.ajax({
            url: '/api/chat/createAndEnterChatRoom',
            method: 'POST',
            dataType: 'json',
            success: function (response) {
                var roomId = response.roomId;
                alert("success!!, roomid = " + roomId)

                // Redirect to chatting.html with username and roomId as parameters
                window.location.href = '/chatting?username=' + username + '&roomId=' + roomId;
            },
            error: function (xhr, status, error) {
                alert("Failed to create and enter chat room");
                console.log(xhr);
            }
        });
    });


    // Call the function to load chat rooms on page load
    $(document).ready(function () {
        loadChatRooms();
    });

    // 클릭 이벤트 핸들러를 추가하여 버튼 클릭 시 엔드포인트로 POST 요청을 보냄
    // $('#createChatRoomButton').click(function () {
    //     $.ajax({
    //         url: '/api/chat/createAndEnterChatRoom',
    //         method: 'POST',
    //         dataType: 'json', // JSON 형식으로 응답 데이터를 파싱
    //         success: function (response) {
    //             // roomId 변수 추가
    //             var roomId = response.roomId;
    //             console.log("success!!, roomid = " + roomId)
    //
    //             // chatting.html로 이동하면서 정보를 URL에 추가
    //             window.location.href = '/chatting?username=' + username + '&roomId=' + roomId;
    //         },
    //         error: function (xhr, status, error) {
    //             alert("Failed to create and enter chat room");
    //             console.log(xhr);
    //         }
    //     });
    // });
    function logout() {
        //리프레시 토큰 삭제 요청

        fetch('/api/user/logout', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'}
        }).then(response => response.json())
            .then(data => {
                alert(data.msg)
                // 쿠키 삭제
                document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = "/"
            });


    }
</script>
</body>
</html>
