<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
    <title>BurgerDrop | 홈</title>
</head>
<body>
<div class="category-bar d-flex flex-column justify-content-center" style="height: 100%; width: 60px; background-color: #FF4004;position: fixed;z-index: 999">
<ul style="list-style: none;padding-left: 0">
    <li class="mb-5 text-center"><a href="#"><img alt="" src="/images/burger.png" width="40px" height="40px" style="background-color: white"></a></li>
    <li class="mb-5 text-center"><a href="#"><img alt="" src="/images/fries.png" width="40px" height="40px"  style="background-color: white"></a></li>
    <li class="mb-5 text-center"><a href="#"><img alt="" src="/images/drink.png" width="40px" height="40px"  style="background-color: white"></a></li>
    <li class="mb-5 text-center"><a href="#"><img alt="" src="/images/dessert.png" width="40px" height="40px"  style="background-color: white"></a></li>
    <li class="mb-5 text-center"><a href="#"><img alt="" src="/images/likes.png" width="40px" height="40px"  style="background-color: white"></a></li>
</ul>
</div>
<!-- 네비게이션 바 start -->
<nav class="navbar bg-light mb-5">
    <div class="container-fluid d-flex mx-3">

        <a class="navbar-brand" href="/">
            <div class="ms-5 fs-4 fw-bold">BurgerDrop</div>
        </a>
        <div class="" id="welcome">
            <span id="userRole" th:text="${userRole}"></span>
            <span class="fw-bold" id="username" th:text="${username}"></span> 님 방문을 환영합니다.
        </div>
        <div class="d-flex justify-content-end">
            <a href="/api/mypage"><button type="submit" class="btn btn-dark ms-2" id="myPage-btn">My page</button></a>
            <a href="/login-test"><button type="submit" class="btn btn-dark ms-2" id="login-btn">Login</button></a>
            <a href="/"><button type="submit" class="btn btn-dark ms-2" id="logout-btn">Logout</button></a>
            <a href="/api/user/signup"><button type="submit" class="btn btn-dark ms-2" id="signup-btn">SignUp</button></a>
            <a href="/cart"><button type="submit" class="btn btn-primary ms-2" id="cart-btn">장바구니</button></a>
            <a href="/admin"><button type="submit" class="btn btn-warning ms-2" id="admin-btn">Admin</button></a>
        </div>
    </div>
</nav>
<div class="container mb-5">
    <div>
        <input id="keyword" type="text" placeholder="검색어를 입력해주세요">
        <button onclick="searchProduct()">검색하기</button>
    </div>
    <div class = "col row" id = "search-productlist">
        <!-- 검색 결과 목록 동적 생성 -->
    </div>
    <hr class="border border-3">
</div>
<div class="container mb-5">
    <div class = "col row" id = "product-list">
        <!-- 상품 목록 동적 생성 -->
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    window.onload = function() {
        var login_btn = document.getElementById("login-btn");
        var signup_btn = document.getElementById("signup-btn");
        var logout_btn = document.getElementById("logout-btn");
        var mypage_btn = document.getElementById("myPage-btn");
        var welcome = document.getElementById("welcome");
        var cart_btn = document.getElementById("cart-btn");
        var admin_btn = document.getElementById("admin-btn");
        var userRole = document.getElementById("userRole")

        // "Authorization" 쿠키가 존재하는 경우 로그인 상태
        if (checkAuthorizationCookie()) {
            logout_btn.style.display = "block";
            mypage_btn.style.display = "block";
            welcome.style.display = "block";
            cart_btn.style.display = "block";

            if (userRole.innerText === "ADMIN") {
                admin_btn.style.display = "block";
            } else {
                admin_btn.style.display = "none";
            }

            login_btn.style.display = "none";
            signup_btn.style.display = "none";
        } else { // 로그인 상태가 아닌 경우
            logout_btn.style.display = "none";
            mypage_btn.style.display = "none";
            welcome.style.display = "none";
            cart_btn.style.display = "none";
            admin_btn.style.display = "none";

            login_btn.style.display = "block";
            signup_btn.style.display = "block";
        }

        function checkAuthorizationCookie() {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();

                // "Authorization" 쿠키가 존재하는 경우 true 반환
                if (cookie.startsWith("Authorization")) {
                    return true;
                }
            }
            // "Authorization" 쿠키가 존재하지 않는 경우 false 반환
            return false;
        }
    }

    $(document).ready(function () {
        getProduct();
    });
    function getProduct() {
        fetch('/api/products', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(data => {
                $('#product-list').empty()
                for (let i = 0; i < data.length; i++) {
                    let productName = data[i].productName;
                    let productPrice = data[i].productPrice;
                    let category = data[i].category;
                    let createdAt = data[i].createdAt;

                    let productImage;
                    if(data[i].productImage === '' || data[i].productImage == null) {
                        productImage = "/images/img.png"
                    } else {
                        productImage = data[i].productImage;
                    }

                    let productId = data[i].id

                    let temp_html = `<a href = product/${productId} class= "col-3">
                                         <div class= "col" style="margin-top: 30px">
                                            <div class="card h-100 feed border-0">
                                                <img src="${productImage}" class="card-img-top" alt="sampleImage" style="height: 250px; width: 305px">
                                                <div class="card-body">
                                                    <h5 class="card-title fw-bold">${productName}</h5>
                                                    <p class="card-text text-truncate">${productPrice}</p>
                                                    <p class="card-text text-muted">${createdAt}</p>
                                                </div>
                                            </div>
                                        </div>
                                     </a>`
                    $('#product-list').append(temp_html)
                }
            })
    }

    function searchProduct() {
        let data2 = {
            keyword: document.getElementById("keyword").value
        }

        fetch('/api/product', {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data2)
        })
            .then(response => response.json())
            .then(data => {
                $('#search-productlist').empty()
                for (let i = 0; i < data.length; i++) {
                    let productName = data[i].productName;
                    let productPrice = data[i].productPrice;
                    let createdAt = data[i].createdAt;

                    let productImage;
                    if(data[i].productImage === '' || data[i].productImage == null) {
                        productImage = "/images/img.png"
                    } else {
                        productImage = data[i].productImage;
                        console.log(productImage)
                    }

                    let productId = data[i].id

                    let temp_html = `<a href = product/${productId} class= "col-3">
                                         <div class= "col" style="margin-top: 30px">
                                            <div class="card h-100 feed border-0">
                                                <img src="${productImage}" class="card-img-top" alt="sampleImage" style="height: 250px; width: 305px">
                                                <div class="card-body">
                                                    <h5 class="card-title fw-bold">${productName}</h5>
                                                    <p class="card-text text-truncate">${productPrice}</p>
                                                    <p class="card-text text-muted">${createdAt}</p>
                                                </div>
                                            </div>
                                        </div>
                                     </a>`
                    $('#search-productlist').append(temp_html)
                }
            })
    }
</script>
</body>
</html>