<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/css/btn-custom.css" rel="stylesheet">
</head>
<body>
<nav class="navbar mb-5" style="background-color: #ff921d">
    <div class="container-fluid d-flex mx-3">
        <a class="navbar-brand" href="/">
            <div class="ms-5 fs-4 fw-bold">BurgerDrop</div>
        </a>
        <div class="" id="welcome">


        </div>
        <div class="d-flex justify-content-end">
            <a href="/login"><button type="submit" class="btn btn-dark btn_custom ms-2" id="login-btn">Login</button></a>
            <a href="/signup"><button type="submit" class="btn btn-dark btn_custom ms-2" id="signup-btn">SignUp</button></a>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="title fw-bold">로그인</h1>
    <form id="loginForm">
        <div class="form-group mt-3">
            <label for="username" class="form-label">사용자명:</label>
            <input type="username" class=" form-control" id="username" name="username" required>
        </div>
        <div class="form-group mt-3">
            <label for="password">비밀번호:</label>
            <input type="password" class="form-control"id="password" name="password" required>
        </div>
        <div class="form-group my-3 d-flex justify-content-between">
            <div>
                <input type="submit" class="btn btn-dark" value="로그인">
                <a href="/" class="btn btn-outline-dark">뒤로가기</a>
            </div>
            <div>
                <a href="/user/info/username" class="btn btn-dark">아이디 찾기</a>
                <a href="/user/info/password" class="btn btn-dark">비밀번호 찾기</a>
            </div>
        </div>
        <a class="mt-3 "href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=c390826fdfc5d14fa1931ae20fbe0e11&state=test&redirect_uri=http://burger-drop.shop/api/auth/kakao/login">
        <img src="/images/kakao_login_medium.png" alt="q">
        </a>

<!--        <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=cGQgfh0jvo5wJ7iUQD5a&state=test&redirect_uri=http://localhost:8080/api/auth/naver/login">-->
<!--            네이버-->
<!--        </a>-->
<!--        <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=1048741760252-41qatbor2qcqf4se37mcp0hitqnjd4sh.apps.googleusercontent.com&redirect_uri=http://localhost:8080/api/auth/google/login&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email">-->
<!--            구글-->
<!--        </a>-->
    </form>
</div>
<script>
    document.querySelector('#loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var username = document.querySelector('#username').value;
        var password = document.querySelector('#password').value;

        fetch('/api/user/login', {
            method: 'POST',
            body: JSON.stringify({ username: username, password: password }),
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'include' // 쿠키 포함 옵션 설정
        })
            .then(function(response) {
                if (response.ok) {
                    // 로그인 성공 처리
                    alert('로그인 성공');
                    window.location.href = '/'; // 로그인 성공 시 이동할 페이지 경로
                } else {
                        alert('아이디 비밀번호가 일치하지 않습니다.');
                }
            });

    });


</script>
</body>
</html>