<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="title">로그인</div>
    <form id="loginForm">
        <div class="form-group">
            <label for="username">사용자명:</label>
            <input type="username" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="로그인">
        </div>
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=c390826fdfc5d14fa1931ae20fbe0e11&state=test&redirect_uri=http://localhost:8080/api/auth/kakao/login">
            카카오
        </a>

        <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=cGQgfh0jvo5wJ7iUQD5a&state=test&redirect_uri=http://localhost:8080/api/auth/naver/login">
            네이버
        </a>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=1048741760252-41qatbor2qcqf4se37mcp0hitqnjd4sh.apps.googleusercontent.com&redirect_uri=http://localhost:8080/api/auth/google/login&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email">"
            구글
        </a>
    </form>
</div>
<script>
    document.querySelector('#loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var username = document.querySelector('#username').value;
        var password = document.querySelector('#password').value;

        fetch('/api/user/login', {
            method: 'POST',
            body: JSON.stringify({ username: username, password: password }),
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'include' // 쿠키 포함 옵션 설정
        })
            .then(function(response) {
                if (response.ok) {
                    // 로그인 성공 처리
                    alert('로그인 성공');
                    window.location.href = '/login-test'; // 로그인 성공 시 이동할 페이지 경로
                } else {
                    return response.json().then(function (data) {
                        throw new Error(data.msg);
                    });
                }
            }).catch(function(error) {
            console.error(error);
            alert(error);
        });
    });


</script>
</body>
</html>