<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 내역</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <link href="/css/btn-custom.css" rel="stylesheet">
</head>
<body>
<nav class="navbar mb-5" style="background-color: #ff921d">
  <div class="container-fluid d-flex mx-3">
    <a class="navbar-brand" href="/">
      <div class="ms-5 fs-4 fw-bold">BurgerDrop</div>
    </a>
    <div class="" id="welcome">
      <span id="userRole" th:text="${userRole}"></span>
      <span class="fw-bold" id="username" th:text="${username}"></span> 님 방문을 환영합니다.
    </div>
    <div class="d-flex justify-content-end">
      <a href="/mypage"><button type="submit" class="btn btn-dark btn_custom ms-2" id="myPage-btn">My page</button></a>
      <button type="button" onclick="logout()"class="btn btn-dark btn_custom ms-2" id="logout-btn">Logout</button>
      <a href="/cart"><button type="submit" class="btn btn-dark btn_custom ms-2" id="cart-btn">장바구니</button></a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <button onclick="updatePage()" class="btn btn-dark">정보 수정</button>
      <button onclick="orderedPage()" class="btn btn-dark">구매 내역</button>
      <button onclick="reviewPage()" class="btn btn-dark">리뷰 내역</button>
      <button onclick="deletePage()" class="btn btn-dark">회원 탈퇴</button>
      <h3 class="fw-bold my-5">구매 내역</h3>
    </div>
  </div>
    <div class="row" id="ordered-box">


    </div>
</div>
<script>
  $(document).ready(function () {
    getUserData();
  });
  function logout() {
    //리프레시 토큰 삭제 요청

    fetch('/api/user/logout', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'}
    }).then(response => response.json())
            .then(data => {
              alert(data.msg)
              // 쿠키 삭제
              document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
              window.location.href = "/"
            });
  }
  let social;
  function getUserData() {
    fetch('/api/user/info', {
      method: 'GET',
      headers: {'Content-Type': 'application/json'}
    })
            .then(response => response.json())
            .then(data => {
              console.log(data)
              let orderList = data.orderList;
              social = data.social;
              console.log(orderList)
              for (let i=orderList.length-1; i>=0; i--){
                let delivery_type = orderList[i].delivery
                if(delivery_type){
                  delivery_type = '배달'
                }else{
                  delivery_type = '포장'
                }

                let price = orderList[i].totalPrice;
                let request = orderList[i].request;
                if(request === ""){
                  request = "요청사항 없음";
                }
                let itemList = '';
                for(let j=0; j<orderList[i].orderItemList.length; j++){
                  itemList += orderList[i].orderItemList[j].productName+" : "+orderList[i].orderItemList[j].quantity+"개\t"
                }
                let orderid = orderList[i].orderid;
                let completeTime = orderList[i].completeTime;
                // 서버에서 받아온 배달 완료 시간과 현재 시간을 가져오기
                const deliveryTime = new Date(completeTime);
                const currentTime = new Date();

                // 배달 완료 시간과 현재 시간의 차이 계산 (분 단위)
                let timeDiffInMinutes = Math.floor((deliveryTime - currentTime) / (1000 * 60));
                if(timeDiffInMinutes <= 0){
                  timeDiffInMinutes = '수령완료'
                }
                let temp_html = `
                               <div class="col-md-6">
                                <div class="card mb-4">
                                  <div class="card-body">
                                  <a href = /user/orders/${orderid} class= "col-3" style=" text-decoration-line: none; color:black">
                                    <h5 class="card-title">주문 종류 : ${delivery_type}</h5>
                                    <p class="card-text">남은 시간(분): ${timeDiffInMinutes}</p>
                                    <p class="card-text">구매 비용: ${price}</p>
                                    <p class="card-text">요청 사항: ${request}</p>
                                    <p class="card-text">주문 상품: <br>${itemList}</p>
                                   </a>
                                  </div>
                                </div>
                              </div>
                    `
                $('#ordered-box').append(temp_html)
              }
            });
  }
  function updatePage(){
    if(social === null){
      window.location.href="/user/update"
    }else{
      alert('소셜 계정인 경우 닉네임과 주소만 변경이 가능합니다.')
      window.location.href="/user/update"
    }
  }

  function orderedPage(){
    window.location.href="/user/orders"
  }
  function deletePage(){
    if(social === null){
      window.location.href="/user/delete"
    }else{
      alert('소셜 계정인 경우 탈퇴가 불가합니다.\n 해당 SNS에 문의해주세요')
    }
  }
  function reviewPage(){
    window.location.href="/user/reviews"
  }

</script>

</body>
</html>