<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>정보 수정</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link href="/css/btn-custom.css" rel="stylesheet">
</head>
<body>
<nav class="navbar mb-5" style="background-color: #ff921d">
    <div class="container-fluid d-flex mx-3">
        <a class="navbar-brand" href="/">
            <div class="ms-5 fs-4 fw-bold">BurgerDrop</div>
        </a>
        <div class="" id="welcome">
            <span id="userRole" th:text="${userRole}"></span>
            <span class="fw-bold" id="username" th:text="${username}"></span> 님 방문을 환영합니다.
        </div>
        <div class="d-flex justify-content-end">
            <a href="/mypage"><button type="submit" class="btn btn-dark btn_custom ms-2" id="myPage-btn">My page</button></a>
            <button type="button" onclick="logout()"class="btn btn-dark btn_custom ms-2" id="logout-btn">Logout</button>
            <a href="/cart"><button type="submit" class="btn btn-dark btn_custom ms-2" id="cart-btn">장바구니</button></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <button onclick="updatePage()" class="btn btn-dark">정보 수정</button>
            <button onclick="orderedPage()" class="btn btn-dark">구매 내역</button>
            <button onclick="reviewPage()" class="btn btn-dark">리뷰 내역</button>
            <button onclick="deletePage()" class="btn btn-dark">회원 탈퇴</button>
            <h3 class="fw-bold my-5">회원 정보 수정</h3>
            <div id="update-box"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getUserData();
    });

    function logout() {
        //리프레시 토큰 삭제 요청

        fetch('/api/user/logout', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'}
        }).then(response => response.json())
            .then(data => {
                alert(data.msg)
                // 쿠키 삭제
                document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = "/"
            });
    }
    let email;
    let social;
    function getUserData() {
        fetch('/api/user/info', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                let username = data.username;
                let nickname = data.nickname;
                let zipCode = data.zip_code;
                let address1 = data.address1;
                let address2 = data.address2;
                email = data.email;
                social = data.social;



                let temp_html = `
                        <label for="username" class="form-label">아이디 : </label>
                        <p type="text" class="fw-bold h3" name="username" id="username"  >${username}</p>
                        <label for="nickname" class="form-label">닉네임 : </label>
                        <input type="text" class="form-control" name="nickname" id="nickname" value="${nickname}">
                        `
                let temp_html3 =
                            `<div id="mail_input" name="mt-3 mail_input">
                                <label for="mail" class="form-label">이메일 : </label>
                                <input type="text" name="mail" class="form-control" value=${email} id="mail"
                                       required>
                                    <button type="button" class="btn btn-secondary" id="sendBtn" name="sendBtn" onClick="sendNumber()">인증번호
                                    </button>
                            </div>
                            <br>
                                <div id="mail_number" name="mail_number" style="display: none">
                                    <input type="text" name="number" id="number" placeholder="인증번호 입력">
                                        <button type="button" class="btn btn-outline-secondary" name="confirmBtn" id="confirmBtn"
                                                onClick="confirmNumber()">이메일 인증
                                        </button><br><span class="ms-2 fw-bold" style="color:red;" id="timer"></span>
                                </div>
                                <br>
                                    <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
                                        <span id="msg" name="msg" style="color: blue;display: none">인증이 완료 되었습니다.</span>

                                        `


                let temp_html4 =`
                        <input type="button" onClick="sample6_execDaumPostcode()" class="btn btn-secondary" value="우편번호 찾기"><br>
                        <input type="text" class="form-control mt-3" id="sample6_postcode" value="${zipCode}" disabled>
                        <input type="text" class="form-control mt-3" id="sample6_address" value="${address1}" disabled><br>
                        <input type="text" class="form-control" id="sample6_detailAddress" value="${address2}">
                        <br>
                        <button class="btn btn-dark" onclick="updateSocialUser()">수정하기</button>
`
                    let temp_html5 =`
                        <input type="button" onClick="sample6_execDaumPostcode()" class="btn btn-secondary" value="우편번호 찾기"><br>
                        <input type="text" class="form-control mt-3" id="sample6_postcode" value="${zipCode}" disabled>
                        <input type="text" class="form-control mt-3" id="sample6_address" value="${address1}" disabled><br>
                        <input type="text" class="form-control" id="sample6_detailAddress" value="${address2}">
                        <br>
                        <label for="password" class="mt-3 form-label">기존 비밀번호 : </label>
                        <input type="password" class="form-control fw-bold h3" required name="password" placeholder="수정 시 비밀번호 확인이 필요합니다." id="password">
                        <button class="btn btn-secondary mt-3" onclick="toggleUpdatePasswordBtn()">비밀번호 변경</button>
                        <label for="newPassword" class="form-label mt-3" id="newPasswordLabel" style="display: none;">새로운 비밀번호 : </label>
                        <input type="password" class="form-control fw-bold h3" required name="newPassword" style="display: none;" id="newPassword" placeholder="영문자, 숫자, 특수문자가 포함된 4글자 이상">
                        <label for="newPasswordConfirm" class="form-label mt-3" id="newPasswordConfirmLabel" style="display: none;">새로운 비밀번호 확인 : </label>
                        <input type="password" class="form-control fw-bold h3" name="newPasswordConfirm" style="display: none;" required id="newPasswordConfirm">
                        <br>
                        <button class="btn btn-dark mt-5" onclick="updateUser()">수정하기</button>
                    `
                if(social != null){
                    $('#update-box').append(temp_html).append(temp_html4)
                }else{
                    $('#update-box').append(temp_html).append(temp_html3).append(temp_html5)
                }

            });
    }
    let state = true;
    function toggleUpdatePasswordBtn(){

        if(state){
            $("#newPassword").css("display","block");
            $("#newPasswordConfirm").css("display","block");
            $("#newPasswordConfirmLabel").css("display","block");
            $("#newPasswordLabel").css("display","block");
            state = false;
        }else{
            $("#newPassword").css("display","none");
            $("#newPasswordConfirm").css("display","none");
            $("#newPasswordConfirmLabel").css("display","none");
            $("#newPasswordLabel").css("display","none");
            state = true;
        }
    }
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수
                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();

            }
        }).open();
    }
    let countdown; // 타이머 변수
    const timerDisplay = document.getElementById('timer'); // 타이머를 표시할 요소

    function startTimer() {
        // 타이머 시작 시간 (초 단위)
        const startTime = 180;

        // 현재 시간을 밀리초 단위로 가져오기
        const now = Date.now();
        // 타이머가 종료될 시간을 계산 (현재 시간 + 시작 시간 * 1000)
        const endTime = now + startTime * 1000;

        // 타이머 업데이트 함수 호출 (처음 한 번 호출)
        displayTimeLeft(startTime);

        // 1초마다 타이머 업데이트
        countdown = setInterval(() => {
            const secondsLeft = Math.round((endTime - Date.now()) / 1000);
            if(isConfirm){
                clearInterval(countdown);
            }
            // 남은 시간이 0보다 작거나 같으면 타이머 종료
            if (secondsLeft <= 0) {
                clearInterval(countdown);
                timerDisplay.textContent = '시간 만료';
                $("#confirmBtn").prop("disabled", true)
            } else {
                displayTimeLeft(secondsLeft);
            }
        }, 1000);
    }

    function displayTimeLeft(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainderSeconds = seconds % 60;

        const display = `${minutes}:${remainderSeconds < 10 ? '0' : ''}${remainderSeconds}`;
        timerDisplay.textContent = display;
    }
    function sendNumber(){
        let mail = $("#mail").val();
        if(mail === ''){
            alert('메일을 입력해주세요')
        }
        $("#mail_number").css("display","block");
        alert("인증번호 발송");
        $("#confirmBtn").prop("disabled", false)
        $("#sendBtn").text("재전송하기")
        clearInterval(countdown);
        startTimer();
        $.ajax({
                url:"/api/mail",
                type:"post",
                dataType:"json",
                data:{"mail" : mail},
                success: function(data){
                    $("#Confirm").attr("value",data);
                },error:function(request, status, error){
                }
            }
        );
    }

    var isConfirm = false;
    function confirmNumber(){
        var number1 = $("#number").val();
        var number2 = $("#Confirm").val();

        if(number1 === ''){
            return
        }
        if(number1 === number2){
            alert("인증되었습니다.");
            isConfirm = true;
            $("#msg").css("display", "block");
        }else{
            alert("번호가 다릅니다.");
        }
    }

    function updateSocialUser() {

        // 각 입력 필드의 값을 가져옴
        var nickname = $("#nickname").val();

        var postcode = $("#sample6_postcode").val();
        var address = $("#sample6_address").val();
        var detailAddress = $("#sample6_detailAddress").val();


        if(nickname === ''){
            alert("닉네임을 입력해주세요.")
            return;
        }
        if(postcode === ''  ){
            alert("주소를 입력해주세요.")
            return;
        }

        if(address === ''  ){
            alert("주소를 입력해주세요.")
            return;
        }

        if(detailAddress === ''  ){
            alert("상세 주소를 입력해주세요.")
            return;
        }


        // 필요한 데이터를 가지고 API 요청 또는 회원 가입 처리를 수행
        $.ajax({
            url: "/api/user/info/social",
            type: "put",
            contentType: "application/json", // Content-Type을 JSON으로 설정
            data: JSON.stringify( {
                nickname: nickname,
                zip_code: postcode,
                address1: address,
                address2: detailAddress
            }),
            success: function (data) {
                // 회원 가입이 성공한 경우 처리
                alert(data.msg);
                // 이후 리디렉션 또는 다른 작업을 수행할 수 있습니다.
                window.location.href = "/mypage"
            },
            error: function (request, status, error) {
                // 오류 처리
                var responseJSON = JSON.parse(request.responseText);

                // 서버에서 전달한 오류 메시지 출력
                alert("정보 수정 실패\n" + responseJSON.msg);
            }
        });
    }
    function updateUser() {

        // 각 입력 필드의 값을 가져옴
        var password = $("#password").val()
        var newPasswordConfirm = $("#newPasswordConfirm").val();
        var newPassword = $("#newPassword").val();
        var nickname = $("#nickname").val();
        var mail = $("#mail").val();


        //메일 변경이 없는 경우
        if(email === mail){
            //메일 인증 없이 가능
            isConfirm = true;
        }
        var postcode = $("#sample6_postcode").val();
        var address = $("#sample6_address").val();
        var detailAddress = $("#sample6_detailAddress").val();


        if(state){
            if(password === ''){
                alert("기존 비밀번호를 입력해주세요")
                return;
            }
            if(nickname === ''){
                alert("닉네임을 입력해주세요")
                return;
            }
            if(mail === ''){
                alert("메일을 입력해주세요")
                return;
            }
            if(postcode === ''){
                alert("주소를 입력해주세요")
                return;
            }
        }else{
            if(password === ''){
                alert("기존 비밀번호를 입력해주세요")
                return;
            }
            if(nickname === ''){
                alert("닉네임을 입력해주세요")
                return;
            }
            if(mail === ''){
                alert("메일을 입력해주세요")
                return;
            }
            if(postcode === ''){
                alert("주소를 입력해주세요")
                return;
            }
            if(newPassword === ''){
                alert("새로운 비밀번호를 입력해주세요")
                return;
            }
        }

        let formData;

        if(newPassword !=='' && newPasswordConfirm !== ''){
            // 비밀번호 확인
            if (newPassword !== newPasswordConfirm) {
                alert("새로운 비밀번호가 일치하지 않습니다.");
                return; // 비밀번호가 일치하지 않는 경우 함수 종료
            }
            //새로운 비밀번호 포함
            formData = {
                password: password,
                newPassword: newPassword,
                nickname: nickname,
                email: mail,
                zip_code: postcode,
                address1: address,
                address2: detailAddress
            }
        }else{
            //새로운 비밀번호 미포함
            formData = {
                password: password,
                nickname: nickname,
                email: mail,
                zip_code: postcode,
                address1: address,
                address2: detailAddress
            }
        }

        // 이메일 인증 확인
        if (!isConfirm) {
            alert("이메일 인증을 완료해주세요");
            return; // 인증되지 않은 경우 함수 종료
        }
        // 필요한 데이터를 가지고 API 요청 또는 회원 가입 처리를 수행

        $.ajax({
            url: "/api/user/info",
            type: "put",
            contentType: "application/json", // Content-Type을 JSON으로 설정
            data: JSON.stringify(formData),
            success: function (data) {
                // 회원 가입이 성공한 경우 처리
                alert(data.msg);
                // 이후 리디렉션 또는 다른 작업을 수행할 수 있습니다.
                window.location.href = "/mypage"
            },
            error: function (request, status, error) {
                try {
                    // 서버 응답을 JSON으로 파싱
                    var responseJSON = JSON.parse(request.responseText);

                    // 서버에서 전달한 오류 메시지 출력
                    alert("정보 수정 실패\n" + responseJSON.msg);
                } catch (e) {
                    // 서버 응답이 JSON 형식이 아닌 경우 또는 파싱에 실패한 경우에 대한 처리
                    alert("정보 수정 실패\n" + request.responseText);
                }
            }
        });
    }

    function updatePage(){
        if(social === null){
            window.location.href="/user/update"
        }else{
            alert('소셜 계정인 경우 닉네임과 주소만 변경이 가능합니다.')
            window.location.href="/user/update"
        }

    }
    function orderedPage(){
        window.location.href="/user/orders"
    }
    function deletePage(){
        if(social === null){
            window.location.href="/user/delete"
        }else{
            alert('소셜 계정인 경우 탈퇴가 불가합니다.\n 해당 SNS에 문의해주세요')
        }
    }
    function reviewPage(){
        window.location.href="/user/reviews"
    }

</script>
</body>
</html>