<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=cGQgfh0jvo5wJ7iUQD5a&state=test&redirect_uri=http://localhost:8080/api/auth/naver/login">
  네이버
</a>
<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=c390826fdfc5d14fa1931ae20fbe0e11&state=test&redirect_uri=http://localhost:8080/api/auth/kakao/login">
    카카오

</a>
<a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=1048741760252-41qatbor2qcqf4se37mcp0hitqnjd4sh.apps.googleusercontent.com&redirect_uri=http://localhost:8080/api/auth/google/login&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email">"
    구글
</a>
</body>
</html>